/* Home */
.arrival_img{
    height: 200px;
    object-fit: cover; 
    object-position: center;
}
.arrival_card{
    height: 350px;
}
/* About */
.section {
    width: 100%;
    min-height: 100vh;
    background-color: #c0bcbcce;

}
.container{
    width: 80;
    display: block;
    margin: auto;
   padding-top: 40px;

}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
    padding-top: 20px;
}
.image-section img{
    width: 100%;
    height: auto;
    border-radius: 1000vh;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    text-wrap: nowrap;
}
.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;

}

.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: grey;
    padding: 12px 40px ;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;

}
.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: white;
}
.content-section .socials{
    margin: 40px;

}

.content-section .socials i{
    color: #5d5d5d;
    font-size: 30px ;
    padding: 0px 10px;
}

.content-section .socials i:hover{
    
    color: #a52a2a;
}

/* Categories */

/* Lbrary */
.hero_general {
    height: var(--height);
    background-image: var(--image);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #ffffff;
}

.navbar .nav-link.active {
    color: #ffae00;
    font-weight: 700;
}

.hero_general .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007d;
}

.library_container .book .box {
    overflow: hidden;
}
.library_container .book img {
    width: 100%;
    height: 17rem;
    transition: 300ms;
    object-fit: cover;
    background-color: blend();
    border-radius: 0;
}

.library_container .book:hover  img {
    scale: 1.1;
}

/* Contact */
 .category {
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba();
  transition: transform 0.3s;
}

 .category:hover {
  transform: scale(1.03);
 
}

@media screen and (min-width: 375px) {
   img {
      width: 0;
   }
}

  




